<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item navbar-brand-icon" href="/">
        <span class="brand-logo">Bingo League</span>
      </a>
      <span class="navbar-burger burger" data-target="primaryNav">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div class="navbar-menu" id="primaryNav">
      <div class="navbar-start">
        {% for section in ["matches", "teams", "players"] %}
          <a class="navbar-item" href="/{{section}}">
            {{section | title}}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>
