.input {
  &.is-content {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid $primary;

    &:hover,
    &:focus {
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0.06);
      outline: inherit;
    }
  }
}
