@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Raleway:500,700,700i');

@import "node_modules/bulma/sass/utilities/initial-variables";
$family-sans-serif: 'Noto Sans', sans-serif;
$family-brand: 'Raleway', sans-serif;
$family-header: 'Raleway', sans-serif;
$background: $white-ter;
$navbar-background-color: $background;
$table-background-color: $background;
$body-background-color: $background;
$fullhd-enabled: false;

@import "node_modules/bulma/bulma.sass";

@import "_mixins";
@import "_vars";
@import "_spacing";

@import "elements/avatar";
@import "elements/brand-logo";
@import "elements/headers";
@import "elements/radio-colors";
@import "elements/section";

@import "components/box";
@import "components/box-link";
@import "components/card";
@import "components/event";
@import "components/footer";
@import "components/match";
@import "components/navbar";

@import "forms/fields";
@import "forms/form-section";
@import "forms/image-upload";
@import "forms/input";

@import "layout/columns";

@import "modules/coloring";
@import "modules/rounding";


@import "node_modules/flatpickr/dist/flatpickr.min";
@import "node_modules/flatpickr/dist/themes/airbnb";
