$match-background-color: #eaebec;
$match-background-color--hover: #c9cccf;
$match-header-color: #5b5e5f;
$match-border-color: #5b5e5f;
$match-radius: $radius;
$match-border: 2px solid $match-border-color;
$match-border-thin: 1px solid $match-border-color;
$match-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);
$match-shadow-large: 0 2px 10px rgba($black, 0.2), 0 1px 4px rgba($black, 0.1);

.match {
  overflow: auto;
  border-radius: $match-radius;
  box-shadow: $match-shadow;
  background-color: $match-background-color;
  font-size: 0.8rem;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: $match-shadow-large;
  }

  .match-banner {
    background-color: #e2ede1;
    color: #436340;
    border-bottom: 1px solid #6fa56b;
    padding: 0.25rem 0.5rem;
  }

  .match-header {
    border-bottom: $match-border;
    color: $match-header-color;
    font-weight: $weight-bold;
    padding: 0.25rem 0.5rem;

    .match-title {
      font-size: 1rem;
      font-family: $family-header;
      font-style: italic;
    }
  }

  .match-content {
    padding: 0.5rem;
  }

  .match-table {
    width: 100%;

    td {
      padding: 0.125rem 0;
    }
  }

  .match-footer {
    border-top: $match-border-thin;
    margin-top: 0.5rem;
  }

  .match-footer-text {
    padding: 0.5rem;
  }

  .match-board-image img {
    display: block;
    margin: auto;
    max-height: 320px;
  }

  .match-expand-target {
    display: flex;
    justify-content: space-around;
    padding: 0.25rem 0;
    margin-top: 0.5rem;
    border-top: $match-border-thin;
    transition: background-color 0.2s ease;

    &:hover, &:active {
      background-color: $match-background-color--hover;
      cursor: pointer;
    }
  }
}
