<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" name="name" placeholder="Team name" value="{{team.name|d('')}}">
  </div>
</div>


<div class="field">
  <label class="label">Color</label>
  <div class="control radio-colors">
    <input type="radio" name="color" id="red" value="red" />
    <label for="red"><span class="red"></span></label>

    <input type="radio" name="color" id="green" value="green" />
    <label for="green"><span class="green"></span></label>

    <input type="radio" name="color" id="yellow" value="yellow" />
    <label for="yellow"><span class="yellow"></span></label>

    <input type="radio" name="color" id="orange" value="orange" />
    <label for="orange"><span class="orange"></span></label>

    <input type="radio" name="color" id="blue" value="blue" />
    <label for="blue"><span class="blue"></span></label>

    <input type="radio" name="color" id="purple" value="purple" />
    <label for="purple"><span class="purple"></span></label>

    <input type="radio" name="color" id="pink" value="pink" />
    <label for="pink"><span class="pink"></span></label>

    <input type="radio" name="color" id="grey" value="grey" />
    <label for="grey"><span class="grey"></span></label>
  </div>
</div>
