<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" name="name" placeholder="Team name" value="{{team.name|d('')}}">
  </div>
</div>

<div class="field">
  <label class="label">Color</label>
  <div class="control">
    <input class="input" type="text" name="color" placeholder="Team color" value="{{team.color|d('')}}">
  </div>
</div>
