<div class="field">
  <label class="label">League</label>
  <div class="control">
    <div class="select">
      <select name="league_id">
        {% for league in leagues %}
          <option
            value="{{league.id}}"
            {% if team.league_id == league.id %}
              selected
            {% endif %}
          >
            {{league.name}}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" name="name" placeholder="Team name" value="{{team.name|d('')}}">
  </div>
</div>

<div class="field">
  <label class="label">Color</label>
  <div class="control">
    <input class="input" type="text" name="color" placeholder="Team color" value="{{team.color|d('')}}">
  </div>
</div>
