{% extends "layouts/main.html.j2" %}

{% block main %}
  <h1 class="title">Edit Team</h1>

  <form method="POST" action="/teams/{{team.id}}/update">
    {% include "teams/_form.html.j2" %}

    <div class="field is-grouped">
      <div class="control">
        <input type="submit" value="Update Team" class="button is-link">
      </div>
      <div class="control">
        <a href="/teams" class="button is-text">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
