<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" name="name" placeholder="Match name" value="{{match.name|d('')}}">
  </div>
</div>

<div class="field">
  <label class="label" for="end_time">Start Date</label>
  <div class="control is-expanded">
    <input class="input js-datepicker" name="start_date" placeholder="Pick a date" value="{{match.start_date|d('')}}">
  </div>
</div>
