{% extends "layouts/main.html.j2" %}

{% block main %}
  <h1 class="title">Match Setup</h1>

  <div class="field is-grouped">
    <p class="control">
      <a href="/matches/new" class="button is-primary">New Match</a>
    </p>
  </div>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>Name</th>
        <th>Stream?</th>
        <th>Done?</th>
      </tr>
    </thead>

    <tbody>
      {% for match in matches %}
        <tr>
          <td class="js-date-string js-localized">{{ match.start_date | strftime('%s') }}</td>
          <td><a href="/matches/{{match.id}}/edit">{{ match.name }}</a></td>
          <td>{{match.is_finalized}}</td>
          <td>{{match.is_featured}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
