{% extends "layouts/main.html.j2" %}

{% block main %}
  <h1 class="title">League Standings</h1>

  <div id="standings"></div>
{% endblock %}

{% block head %}
  <script src="/js/standings.js"></script>
{% endblock %}
