{% extends "layouts/base.html.j2" %}

{% block head %}
  <script src="/js/league.js"></script>
{% endblock %}


{% block main %}
  <div id="league"></div>

  {% include "layouts/_footer.html.j2" %}
{% endblock %}
